{% extends "base.html" %}

{% block content %}

<!DOCTYPE html>
<html>

<head>
	<title> Lazie at Columbia University </title>
	<link href="/static/style.css" type="text/css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>

<body>
	<div class="header">
		<img class="logo" src="/static/lazielogo.png">
	</div>
	<div class="main">
		<div class="buttons">
			<div class="ask" href="/ask"> ASK </div>
	        <div class="do" href="/do"> DO </div>
	    </div>
	</div>
</body>

{% endblock %}