<!--
	  <div>
	  	<ul>
		  	{% for ask_doc in my_asks_list %}
			



			<li><b>{{ ask_docs.task }}</b></li>
			<li>{{ ask_docs.descr }}</li>
			<li>{{ ask_docs.reward }}</li>
			{% endfor %}
	  	</ul>
	</div>
	</div> -->
<!--
	<div id="Paris" class="tabcontent">
	  <h3>My Do's</h3>
	  <div>
	  	<ul>
	  		{% for i in range(len(my_dos_list)) %}
			<li><b>item {{ my_dos_list[i].task }}</b></li>
			<li>{{ my_dos_list[i].descr }}</li>
			<li>{{ my_dos_list[i].reward }}</li>
			{% endfor %}
	  		{% for do_docs in my_dos_list %}
			<li><b>{{ do_docs.task }}</b></li>
			<li>{{ do_docs.descr }}</li>
			<li>{{ do_docs.reward }}</li>
			{% endfor %}
	  	</ul>
	  </div>
	</div> 
</body>-->